Flask==3.1.1
flask-cors==6.0.1

gunicorn==23.0.0

deepface==0.0.95
tensorflow-cpu==2.16.2
tf-keras==2.16.0

mediapipe==0.10.14
protobuf==4.25.3

numpy==1.26.4
opencv-python-headless==4.10.0.84

SQLAlchemy==2.0.41
psycopg[binary]==3.2.9

azure-storage-blob==12.25.1
azure-core==1.35.0

python-dotenv==1.1.1